<% form_for(@publicacion, :html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo%>
  </p>
  <p>
    <%= f.label :mensaje %><br />
    <%= f.text_area :mensaje %>
  </p>
  <p>
    <%= f.label :foto, "Imagen" %>
    <%= f.file_field :foto, :size=>60 %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
  <% end %>