<h1>Editar Usuario</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </p>
  <p>
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_select :fecha_nacimiento %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :pass %><br />
    <%= f.text_field :pass %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Mostrar', @usuario %> |
<%= link_to 'Regresar', usuarios_path %>